.sidebar-container {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-top: 15px;
}

